.App {
  max-width: 100vw;
  overflow-x: hidden;
}

.bio__content {
  margin: 16px 24px;
  display: block;
  max-width: 100%;
}

.portfolio__title {
  position: absolute;
  width: 100vw;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.bio__content .MuiTypography-root:not(h5) {
  padding-left: 10px;
}
